<div id="<%= dom_id post %>">
  <div class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= post.title %>
  </div>

  <div class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= post.content %>
  </div>

</div>
